footer{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 5px;
}


.keyboard-row1 {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 5px;
    padding-top: 30px;
    padding-bottom: 10px;
}

.keyboard-row2{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 5px;
    padding-bottom: 10px;
}

.keyboard-row3{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 5px;
}


.keyboard-column {
    color: black;
    background-color: gainsboro;
    width: 40px;
    height: 50px;
    display: inline-block;
    cursor: pointer;
    justify-content: center;
    align-items: center;
    border-radius: 5px;
    padding-left: 25px;
    padding-top: 25px; 
  }

  .keyboard-column_wide{ 
    color: black;
    display: inline-block;
    background-color: gainsboro;
    width: 100px;
    height: 70px;
    border-radius: 5px;
    cursor: pointer;
  }

  .keyboard-column_wide img{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 25px;
    height: 25px;
  
  }